body {
    color: blue;
}

.prix-produit {
    width: 100px;
}

.form-produit {
    width: 80%;
    margin-left: 10%;
}

/* image mon compte de la navbar */

.mon-compte-img {
    max-width: 64px;
    height: 24px;
    size: auto;
}

#nav-bar {
    color: orange;
}

.green {
    color: green;
}