body {
    color: blue;
}

/* image mon compte de la navbar */

.mon-compte-img {
    max-width: 64px;
    height: 24px;
    size: auto;
}

#nav-bar {
    color: orange;
}

.green {
    color: green;
}